body {
  margin: 0;
  padding: 0;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  overflow-x: hidden;
}

#root {
  width: 100%;
  box-sizing: border-box;
}

/* Estilo para scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}
